<!-- header start -->
<div class="hamburger">
  <i class="fa fa-bars"></i>
</div>
<header class="blog-header">
  <h1 class="blog-title">90 days in <img src="/assets/images/usa.png" class="tooltip" title="'Murica, fuck yeah!"></h1>

  <div class="blog-description">
        Nu sker det endeligt! Vi tager 3 måneder til USA. Her skal vi køre 22.000 km. fra New York til San Fransico, og tilbage igen. Her på siden kan i følge lidt med i, hvor vi er og hvad vi går og laver.
  </div>

  <div class="blog-description">
    <div class="grid">
      <div class="unit one-third"><h1><span id="days">0</span> dage</h1></div>
      <div class="unit one-third"><h1><span>{{ site.posts.first.states }}</span> stater</h1></div>
      <div class="unit one-third"><h1><span>{{ site.posts.first.miles }}</span> mil</h1></div>
    </div>
  </div>

    <div class="custom-links" style="font-size: 13px;">
      <a href="/feed.xml" title="RSS Feed"><i class="fa fa-rss"></i>
        RSS Feed&nbsp;&nbsp;·&nbsp;&nbsp;</a>
      <i class="fa fa-keyboard-o"></i> Naviger med <i class="fa fa-caret-right"></i> og tryk Enter for at åbne indlæg
    </div>
    <div style="text-align:center">
      <i class="fa fa-angle-up hide" style="font-size: 18px; margin-bottom: 30px; cursor: pointer; color: gray; "></i>
    </div>
</header>

<!-- header end -->
