<!-- header start -->
<div class="hamburger">
  <i class="fa fa-bars"></i>
</div>
<header class="blog-header">
  <h1 class="blog-title">90 dage i <img src="/assets/images/usa.png" class="tooltip" title="'Murica, fuck yeah!"></h1>

  <div class="blog-description">
        Vi har knolklet de sidste 3 måneder, og nu sker det endeligt! Vi tager 3 måneder til USA. Her skal vi køre 22.000 km. fra New York til San Fransico, og tilbage igen. I kan her på siden følge med i hvor vi er, og se billeder.
  </div>

  <div class="blog-description">
    <div class="grid">
      <div class="unit one-third"><h1><span>23</span> dage</h1></div>
      <div class="unit one-third"><h1><span>8.270</span> km</h1></div>
      <div class="unit one-third"><h1>$<span>23.000</span></div>
    </div>
  </div>

    <div class="custom-links" style="font-size: 13px;">
      <a href="/feed.xml" title="RSS Feed"><i class="fa fa-rss"></i>
        RSS Feed&nbsp;&nbsp;·&nbsp;&nbsp;</a>
      <i class="fa fa-keyboard-o"></i> Brug <i class="fa fa-caret-left"></i> og <i class="fa fa-caret-right"></i> til at browse mellem indlæg
    </div>
    <div style="text-align:center">
      <a href="#hide" class="topofpage"><i class="fa fa-angle-up"></i></a>
    </div>
</header>

<!-- header end -->
